services:
  # Backend Service
  - type: web
    name: expense-share-api
    env: node
    root: server
    buildCommand: npm install
    startCommand: node index.js
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false # Render will ask you to input this manually in the dashboard
      - key: JWT_SECRET
        sync: false # Render will ask you to input this manually in the dashboard
